{% extends 'registration/pattern.html' %}


{% block title %}
    Login
{% endblock title %}
    
{% block buttonLink %}
    <a href="{% url 'signin' %}"><button class="btn btn-outline-primary">ثبت نام</button></a>
{% endblock buttonLink %}

{% block logif %}
{% if form.errors %}
<p class="mb-4 text-center" style="color: antiquewhite;">رمز ورود یا نام کاربری شما اشتباه است</p>
{% endif %}

{% if usre.is_authenticated %}
<p class="mb-4 text-center" style="color: antiquewhite;">شما اجازه دسترسی به این صفحه را ندارید</p>
{% endif %}

{% endblock logif %}
{% block log %}
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
      <h3 class="mb-4 text-center">ورود</h3>
      <form action="{% url 'login' %}" class="signin-form" method="POST">
        {% csrf_token %}
          <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="نام کاربری" required>
          </div>
    <div class="form-group">
      <input id="password-field" type="password" name="password" class="form-control" placeholder="رمز عبور" required>
      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary submit px-3" value="ورود">
        <input type="hidden" value="{{next}}">
    </div>
    <div class="form-group d-md-flex">
        <div class="w-50">
            <a href="#" style="color: #3becec;">مرا بخاطر بسپار
                          <input type="checkbox" checked>
                          <span class="checkmark"></span>
            </a>
                    </div>
                    <div class="checkbox-wrap checkbox-primary">
                        <a href="{% url 'password_reset' %}" style="color: #3becec;">فراموشی رمز؟</a>
                    </div>
    </div>
  </form>
  </div>
    </div>
{% endblock log %}
    