{% extends 'registration/pattern.html' %}


{% block title %}
    Login
{% endblock title %}
    

{% block log %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
      <h3 class="mb-4 text-center">ورود</h3>
      <form action="#" class="signin-form">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="نام کاربری" required>
          </div>
    <div class="form-group">
      <input id="password-field" type="password" class="form-control" placeholder="رمز عبور" required>
      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">ورود</button>
    </div>
    <div class="form-group d-md-flex">
        <div class="w-50">
            <a href="#" style="color: #3becec;">مرا بخاطر بسپار
                          <input type="checkbox" checked>
                          <span class="checkmark"></span>
            </a>
                    </div>
                    <div class="checkbox-wrap checkbox-primary">
                        <a href="#" style="color: #3becec;">فراموشی رمز؟</a>
                    </div>
    </div>
  </form>
  </div>
    </div>
</div>
{% endblock log %}
    