{% extends 'registration/pattern.html' %}

{% csrf_token %}

{% block title %}
    Signin
{% endblock title %}
    
{% block log %}

{% if validlink %}
    
    
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
      <h3 class="mb-4 text-center">تغییر پسورد</h3>
      <form action="" class="" method="POST">
          {% csrf_token %}
          <div class="form-group">
          {{new}}
        </div>
          <div class="form-group">
          {{form.new_password1.errors}}
          </div>
          <div class="form-group">
            {{form.new_password1}}    
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
    <div class="form-group">
        {{form.new_password2.errors}}
    </div>
    <div class="form-group">
        {{form.new_password2}}
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">تغییر پسورد</button>
    </div>
    <div class="form-group d-md-flex">
        <div class="w-50">
            <a href="#" style="color: #3becec;">مرا بخاطر بسپار
                          <input type="checkbox" checked>
                          <span class="checkmark"></span>
            </a>
        </div>
        </div>
  </form>
  </div>
    </div>

{% endif %}
{% endblock log %}
