{% extends 'registration/pattern.html' %}
{% block title %}
  password change complete
{% endblock title %}

{% block log %}
<div class="col-md-6 col-lg-4">
   <p class="mb-4 text-center" style="color: antiquewhite;font-size: 25px;">پسورد شما با موفقیت تغییر کرد</p>
   <br/>
       <a  href="{% url 'login' %}" style="color: #3becec;">
           <p class="mb-4 text-center" style="color:chartreuse;font-size: larger;
           background-color: gray;border-radius: 4px;">ورود مجدد</p>
       </a>
</div>
{% endblock log %}