{% extends 'registration/pattern.html' %}
{% csrf_token %}

{% block title %}
    Signin
{% endblock title %}


{% block buttonLink %}
    <a href="/accounts/login/"><button  class="btn btn-outline-primary">ورود</button></a>
{% endblock buttonLink %}
    
{% block log %}
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
      <h3 class="mb-4 text-center">ثبت نام</h3>
      <form action="#" class="signin-form">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="نام کاربری" required>
          </div>
    <div class="form-group">
      <input id="password-field" type="password" class="form-control" placeholder="رمز عبور" required>
      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
        <input id="password-field" type="password" class="form-control" placeholder="تکرار رمز عبور" required>
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">ثبت نام</button>
    </div>
    <div class="form-group d-md-flex">
        <div class="w-50">
            <a href="#" style="color: #3becec;">مرا بخاطر بسپار
                          <input type="checkbox" checked>
                          <span class="checkmark"></span>
            </a>
        </div>
        <div class="w-50">
            <a href="/accounts/login/" style="text-align: right;color: #3becec;">ورود به حساب قبلی
            </a>
        </div>
    </div>
  </form>
  </div>
    </div>
{% endblock log %}
