{% extends 'first_app/pattern.html' %}
{% csrf_token %}

{% block title %}
    About Website
{% endblock title %}
    

{% block about %}
    <hr class="my-4">
    <p>سلام من سید رضا رفاهی دانشجوی کاردانی رشته نرم افزار در دانشکده فنی شمسی پور هستم و در این وبلاگ محتوای مربوط به دانشجویی و رشته نرم افزار برای شما قرار میدهم</p>
    <p class="lead">
       <a class="btn btn-primary btn-lg" href="https://shamsipour.tvu.ac.ir" role="button">سایت دانشکده</a>
    </p>
 </div>
 {% endblock about %}
{% block card %}
<div class="row" align="right" dir="rtl">
    <p class="p-3">
     سلام من سید رضا رفاهی هستم از شهرستان کاشان دیپلم خود را در هنرستان شهید بهشتی کاشان گرفتم و برای کنکور ثبت نام کردم
     </p>
     <p class="p-4">
     بعد اعلام نتایج با رتبه 48 کشوری مجاز به ورود به دانشکده شمسی پور شدم و ثبت نام کردم و تا الان 2ترم را به صورت مجازی گذارنده ام
        این وبلاگ برای پروژه درس طراحی وب بنا به خواست استاد طراحی شده و در آن مطالب مربوط به رشته تحصیلی و داشنجویی قرار میدهم
     </p>
  </div>
  <br/>
  <br/>
  
  <div class="card">
    <div class="card-body">
       <h3>پل های ارتباطی ما</h3>
<table class="table-responsive" width="200" cellspacing="40px" cellpadding="2" border="0">
<tbody>
<tr>
<th scope="row"><h5>آیدی تلگرام : </h5></th>
<td  class="d-table-cell">t.me/RezaRefality</td>
</tr>
<tr>
<th scope="row"><h5>آدرس ایمیل : </h5></th>
<td class="d-table-cell">refahireza82@gmail.com</td>
</tr>
</tbody>
</table>

    </div>
 </div>

{% endblock card %}
    