{% extends 'first_app/pattern.html' %}
{% csrf_token %}    

 {% block title %}
     {{info.title}}
 {% endblock title %}
     

{% block card %}  
<div class="post">
  <div text-align="center" class="card-body">
    <img src="{{info.img.url}}" width="50%"  alt="image not found" class="img-thumbnail">
      <br/>
      <br/>
      <h4 class="alert-heading">
         {{info.title}}
          </h4>
          <p class="p-3">
              {{info.dsc}}
          </p>
  </div>
</div>
{% endblock card %}


{% block comment %}

<div dir="auto" class="container">
    <div dir="rtl" class="row">
        <div dir="rtl" class="col-md-8">
          <div dir="rtl" class="page-header">
            <h1 style="text-align: right;"> نظر ها </h1>
          </div>
           <div  dir="rtl" class="comments-list">
               <div class="media">
                    <div class="media-body">
                    
                    {% for cm in info.comment_set.all %}
                    <div>
                      <hr width="100%" size="2px">
                      <h4 style="text-align: right;" class="media-heading user_name">{{cm.commenter_name}}</h4>
                      <h6 dir="rtl">{{cm.comment_dsc}}</h6>
                        <div dir="ltr">
                      <a href="{% url 'first_app:comment' info.id%}" class="d-flex align-items-center me-3">
                        <small class="mb-0">پسندیدم</small>
                      </a>
                      <small class="mb-0" >نعداد پسند {{cm.comment_like}}</small>
                        </div>
                      <p style="text-align: right;" class="pull-right"><small>{{cm.send_date}}</small></p>
                    </div>
                    {% endfor %}
                      {% include "comment.html" %}
                    </div>
                  </div>
                </div>
              </div>
                    </div>
                  </div>
                 
           </div>
            
            
            
        </div>
    </div>
</div>
{% endblock comment %}
    