<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Object Oriented Programing</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center">
       <h1 class="display-4">شی گرایی چیست؟</h1>
       
       <hr class="my-4">
       <p>(Object Oriented Programing)کاربرد کلاس ها و شی ها در برنامه نویسی و آشنایی با مفهوم </p>
       
    </div>
	  <div class="post">
	  <div align="center" class="card-body">
		<img src="images/oop.png" width="50%" alt="image not found" class="img-thumbnail">
		  <br/>
		  <h4 class="alert-heading">
			 تعریف کلی شی گرایی
			  </h4>
			  <p class="p-3">
			 ما تو ذهنمون یه تعریف از ماشین (خودرو) داریم: خودرو چیزیه که رنگ، سرعت، قدرت، شرکت سازنده داره و قابلیت حرکت، ترمز کردن، تعویض دنده رو داره.

وقتی می گیم 《پراید یک خودرو است.》تعریف ما از خودرو در ذهنمون ظاهر میشه و می فهمیم پراید چیه و چه ویژگی یا رفتار هایی داره. این یعنی شی گرایی. همون طور که اوایل مقاله گفتم، ما اینجا یه سری ویژگی و رفتار برای خودرو تعریف کردیم و اون رو به پراید نسبت دادیم. به همین سادگی

زبان های برنامه نویسی رو از نظر های مختلف به دسته های مختلف تقسیم می کنن. یکی از این دسته بندی ها، بر اساس شی گرا بودن یا نبودنه. بخشی از این دسته بندی:

شی گرا: تقریبا تمام زبان های کاربردی امروزی مثل: C# و پایتون

غیر شی گرا: زبان های قدیمی مثل C و قدیمی تر از اون
			  </p>
			  </div>
      </div>
		  <br/>
  </body>
</html>