<html>
<head>
    <meta charset="utf-8">
    
</head>

<body>
    <form action="#" method="post">
        <div class="row" dir="rtl">
           
              <div class="card" id="feedback">
                 <div class="card-body">
                     <h5> <strong>بازخورد</strong>شما</h5>
                     <input class="form-control mr-sm-2" type="text" aria-label="Feedback" placeholder="Feedback">
                     <br/>
                     <input class="form-control mr-sm-2" type="email" aria-label="E_mail" placeholder="E_mail">
                    <p>هرگونه نظر،انتقاد یا پیشنهادی دارید برای ما ارسال کنید</p>
                    <button type="submit" class="btn-success">ارسال</button> <button type="reset" class="btn-info">بازنشانی</button>
                 </div>
             
           </div>
        </div>
             </form>
        <br>
        <hr>
        <div class="row">
           <div class="text-center col-lg-6 offset-lg-3">
              <h4>ShamsiPour Technical University </h4>
              <p>Copyright &copy; 2019 &middot; All Rights Reserved &middot; <a href="#" >My Website</a></p>
           </div>
        </div>
     </div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
     <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
 
     <!-- Include all compiled plugins (below), or include individual files as needed --> 
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'js/bootstrap-4.3.1.js' %}"></script>
</body>
</html>