{% extends 'first_app/pattern.html' %}
  
{% load static %}
{% block title %}
    index
{% endblock title %}
    
{% block card %}
    {% for info in info_list %}
    <div class="row">
          <div class="col-md-4">
             <div class="card">
                <img class="card-img-top" src="{% static 'images/software.png' %}" alt="Card image cap">
                <div class="card-body">
                   <h3 class="card-title">{{info.title}}</h3>
                   <p class="card-text" dir="rtl">{{info.dsc}}</p>
                   <br><br>
                   <a href="software.html" class="btn btn-primary">نمایش</a>
                   
                  {% for authors in info.author_set.all  %}
                      
                    <p style="font-size: 82%">{{authors.name}} {{authors.family}}</p>
                  {% endfor %}
                  </div>
             </div>
          </div>
       </div>
       <br/>
    {% endfor %}
       <br/>
{% endblock card %} 