{% extends 'first_app/pattern.html' %}
  
{% load static %}
{% block title %}
    index
{% endblock title %}
    
{% block card %}
    {% for info in info_list %}
          <div class="col-md-4" >
             <div class="card" >
                <img class="card-img-top" src={{info.img}} alt="Card image cap">
                <div class="card-body">
                   <h3 class="card-title" style="font-size: 130%;font-weight: bold;">{{info.title}}</h3>
                   <p class="card-text" dir="rtl">{{info.dsc}}</p>
                   <a href="{% url 'first_app:detail' info.id %}" class="btn btn-primary">نمایش</a>
                      
                    <p style="font-size: 90%">نویسنده: {{info.author}} </p>
                    <p style="font-size: 80%">{{info.pub_date}} </p>
                  </div>
             </div>
            </div>
    {% endfor %}
{% endblock card %} 