<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
  </head>
  <body>
       <div class="row">
          <div class="col-md-4">
             <div class="card">
                <img class="card-img-top" src="images/software.png" alt="Card image cap">
                <div class="card-body">
                   <h3 class="card-title">درباره رشته نرم افزار</h3>
                   <p class="card-text" dir="rtl">مباحث موجود در گرایش نرم افزار</p>
                   <br><br>
                   <a href="software.html" class="btn btn-primary">نمایش</a> <p style="font-size: 82%">نویسنده: سیدرضا رفاهی</p>
                </div>
             </div>
          </div>
       </div>
       <br/>
  </body>
</html>