<!DOCTYPE html >
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
       
    {% endblock title %}
       </title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-4.3.1.css' %}" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="{% url 'first_app:index' %}">صفحه اصلی <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ثبت نام/ورود
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'first_app:signin' %}">ساخت حساب کاربری</a>
                  <a class="dropdown-item" href="/accounts/login/">ورود به حساب</a>
                  <div class="dropdown-divider"></div>
               </div>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="/admin/">پنل مدیریت</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'first_app:about' %}">درباره ما</a>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ارتباط با ما
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="https://www.instagram.com/rezarfahi/">اینستاگرام</a>
                   <a class="dropdown-item" href="https://virgool.io/@RezaRfahi">سایت ویرگول</a>
					<a class="dropdown-item" href="https://github.com/RezaRfahi">GitHub</a>
                   <div class="dropdown-divider"></div>
                </div>
             </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جست و جو</button>
          </form>
       </div>
    </nav>
    <div class="jumbotron jumbotron-fluid text-center">
      <h1 class="display-4">وبلاگ دانشجویان نرم افزار</h1>
      {% block about %}
       
    {% endblock about %}
   </div>

    <div class="container">
       <div class="row text-center" texe-align="center">
          <img class="img-thumbnail" alt="" src="{% static 'images/student.png' %}">
		   <div class="col-lg-6 offset-lg-3">
		   
		   </div>
       </div>
       <br>
       <hr>
       <br/>
       <div class="row">
         {% block card %}

                  
         {% endblock card %}
       </div>
       <br/>
       <br/>
		
      {% block comment %}

      {% endblock comment %}
         
       <br>
       <hr>
       <div class="row">
          <div class="text-center col-lg-6 offset-lg-3">
             <h4>ShamsiPour Technical University </h4>
             <p>Copyright &copy; 2019 &middot; All Rights Reserved &middot; <a href="#" >My Website</a></p>
          </div>
       </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.3.1.js' %}"></script>
  </body>
</html>